body {
    background-color: #DED6CB; 
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

h1 {
    color: #405178;
    font-size: 30px;
}

h3 {
    color: #64B0C7;
}

.center-justification {
    text-align: center;
}

.fira-font {
    font-family: 'Fira Sans', sans-serif;
}